apiVersion: v1
kind: Secret
metadata:
  name: ex4pm-secrets
type: Opaque
stringData:
  SECRET_KEY_BASE: "REPLACE_ME_generate_with: mix phx.gen.secret"
  RELEASE_COOKIE: "REPLACE_ME_generate_with: mix phx.gen.secret"
  DATABASE_URL: "postgres://USER:REPLACE_ME_PASSWORD@HOST:5432/ex4pm_prod"
  POSTGRES_PASSWORD: "REPLACE_ME_strong_random_password"
